In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0 -1.659699 -1.521361  1.284332 -0.622214  0.224890
1  0.012703 -0.641934 -0.297733  0.368685  0.113012
2  0.711475 -0.963127  0.619728  0.646958  0.589785
3  1.474769  0.599931 -1.502021  1.302356 -0.057502
4 -1.145061  1.391746  0.277292  1.214752 -1.012745

In [ ]:
df.append({0:'2.5',1:'5.5'},ignore_index=True)

          0         1         2         3         4
0 -1.659699 -1.521361  1.284332 -0.622214  0.224890
1  0.012703 -0.641934 -0.297733  0.368685  0.113012
2  0.711475 -0.963127  0.619728  0.646958  0.589785
3  1.474769  0.599931 -1.502021  1.302356 -0.057502
4 -1.145061  1.391746  0.277292  1.214752 -1.012745
5       2.5       5.5       NaN       NaN       NaN

MISSING DATA
Like c program and java the missing value is null,similarly null values in pandas are NaN(Not a Number).
NaN is a special floating point represented as null value

In [ ]:
df=pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df.fillna(value="Fill")

      A     B  C
0   1.0   5.0  1
1   2.0  Fill  2
2  Fill  Fill  3

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64